{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jspiders</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
   
    <nav class="navbar navbar-light bg-light" id="abc">
        <a class="navbar-brand" id="heading"><button class="btn btn-primary">Jspiders</button></a>
        <a href="{% url 'jspiders' %}"><button class="btn btn-dark">Home</button></a>

        <a href="{% url 'trainers' %}"><button class="btn btn-danger">Trainers details</button></a>
        <h5>contact : <a href="">+91-1234567890</a></h5>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for course" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

      <div class="border border-dark" style="margin: 10px;">
        <p style="padding: 20px;">JSpiders is a leading software training institute,recognized as the world's largest Java/J2EE training organization.Headquartered in Bangalore,India,JSpiders aims to bridge the gap between industry demands and educational curriculums2.They offer a wide range of courses,including Java Full Stack,J2EE,MEAN/MERN Stack,and Software Testing,all designed to meet current industry standards. With training centers across India and globally,JSpiders provides job-oriented training by top industry experts,helping students build successful careers in the IT industry.</p>
      </div>

      <div id="one" class="border border-light row">
        <div class="card col-3">
          <h3 class="d-flex align-items-center justify-content-center" id="h31">Python Full Stack</h3>
          <img src="{% static 'images/python.jpg' %}" alt="Image Not Found" id="python" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Brief Description about the course</h5>
            <p class="card-text">Python full stack development involves building complete web applications using Python for the back-end with frameworks like Django,and HTML,CSS,and JavaScript for the front-end.It also includes database management using technologies like MySQL</p>
            <a href="{% url 'python' %}" class="btn btn-primary">Register for Python Full-stack</a>
          </div>
        </div>
        <div class="card col-3">
          <h3 class="d-flex align-items-center justify-content-center" id="h31">Java Full Stack</h3>
          <img src="{% static 'images/java.png' %}" alt="Image Not Found" id="java" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Brief Description about the course</h5>
            <p class="card-text">Java full stack development involves creating comprehensive web applications using Java for the back-end,leveraging frameworks like Spring,and HTML,CSS,and JavaScript for the front-end.Database management typically involves technologies like MySQL</p>
            <a href="{% url 'java' %}" class="btn btn-primary">Register for Java Full-stack</a>
          </div>
        </div>
        <div class="card col-3">
          <h3 class="d-flex align-items-center justify-content-center" id="h31">Mern Stack</h3>
          <img src="{% static 'images/mern.webp' %}" alt="Image Not Found" id="mern" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Brief Description about the course</h5>
            <p class="card-text">MERN stack development involves building full-fledged web applications using MongoDB for the database,Express.jsfor the server-side framework,React.jsfor the front-end framework,and Node.jsfor the runtime environment.</p>
            <a href="{% url 'mern' %}" class="btn btn-primary">Register for Mern-stack</a>
          </div>
        </div>
        <div class="card col-3">
          <h3 class="d-flex align-items-center justify-content-center" id="h31">Devops</h3>
          <img src="{% static 'images/devops.webp' %}" alt="Image Not Found" id="mern" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Brief Description about the course</h5>
            <p class="card-text">DevOps focuses on improving collaboration between development and operations teams,streamlining the software development lifecycle through automation,CI/CD pipelines,and infrastructure as code.It aims to enhance efficiency and speed in software delivery using tools like Docker,Kubernetes,Jenkins,and AWS</p>
            <a href="{% url 'devops' %}" class="btn btn-primary">Register for Devops</a>
          </div>
        </div>
        
      </div>
   

    
</body>
</html>