<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Details</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="card card-body col-5" style="margin: 200px auto; width:18rem; padding-top: 10px; ">
        <ul><li style="color: blue; font-size: 30px;">Python Trainers</li></ul>
        <ol style="color: red; font-size: 25px;">
            <li>Shaik Harshad Vali</li>
            <li>pranay Kumar</li>
            <li>Jyoshna</li>
            <li>Kishore</li>
            <li>Dhruva Kumar</li>
        </ol>
        <ul><li style="color: blue; font-size: 30px;">Devops Trainers</li></ul>
        <ol style="color: red; font-size: 25px;">
            <li>Swathi</li>
            <li>Harish</li>
            <li>Ramesh</li>
            <li>Dhruva Kumar</li>
        </ol>
        <a href="{% url 'jspiders' %}" class="d-flex justify-content-start align-items-center"><button class="btn btn-primary">Home Page</button></a>
    </div>
    <div class="card card-body col-5" style="margin: 150px auto; width:18rem; padding-top: 10px; ">
        <ul><li style="color: blue; font-size: 30px;">Java Trainers</li></ul>
        <ol style="color: red; font-size: 25px;">
            <li>Raveesh </li>
            <li>Ramana Kumar</li>
            <li>Girish</li>
            <li>Kishore</li>
            <li>Dhruva Kumar</li>
            <li>Greeshma</li>
        </ol>
        <ul><li style="color: blue; font-size: 30px;">Mern Trainers</li></ul>
        <ol style="color: red; font-size: 25px;">
            <li>Kishore </li>
            <li>Vicky</li>
            <li>Dhruva Kumar</li>
        </ol>
        <a href="{% url 'jspiders' %}" class="d-flex justify-content-start align-items-center"><button class="btn btn-primary">Home Page</button></a>
    </div>
    
</body>
</html>